$yt-red: #CC0000;
$yt-text: #606060;
$white: #fff;
$dark-gray: #35393b;
$black: #000;

.html5-video-player.active {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $black;
    z-index: 20
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 128px;
    height: 128px;
    transform: translate(-50%, -50%);
    background-image: url('data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0nbmV3IDAgMCA1MTIgNTEyJyBpZD0nTGF5ZXJfMScgdmVyc2lvbj0nMS4xJyB2aWV3Qm94PScwIDAgNTEyIDUxMicgeG1sOnNwYWNlPSdwcmVzZXJ2ZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyB4bWxuczp4bGluaz0naHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayc+PGxpbmVhckdyYWRpZW50IGdyYWRpZW50VW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBpZD0nU1ZHSURfMV8nIHgxPScyNTYnIHgyPScyNTYnIHkxPSc1MTInIHkyPSctOS4wOTQ5NDdlLTAxMyc+PHN0b3Agb2Zmc2V0PScwJyBzdHlsZT0nc3RvcC1jb2xvcjojQ0IyRDNFJy8+PHN0b3Agb2Zmc2V0PScxJyBzdHlsZT0nc3RvcC1jb2xvcjojRUY0NzNBJy8+PC9saW5lYXJHcmFkaWVudD48Y2lyY2xlIGN4PScyNTYnIGN5PScyNTYnIGZpbGw9J3VybCgjU1ZHSURfMV8pJyByPScyNTYnLz48cGF0aCBkPSdNMzUyLjYsMTYxLjNsLTExNy00MS4xYy00LjUtMS42LTkuNC0wLjktMTMuMywxLjljLTMuOSwyLjctNi4yLDcuMi02LjIsMTEuOXYxNDUuMiAgYy03LTcuMi0xNi44LTExLjYtMjcuNi0xMS42Yy0yMS40LDAtMzguOCwxNy40LTM4LjgsMzguOGMwLDIxLjQsMTcuNCwzOC44LDM4LjgsMzguOGMyMS40LDAsMzguOC0xNy40LDM4LjgtMzguOFYxMzQgIGMwLTEuNiwxLTIuNSwxLjQtMi44YzAuNC0wLjMsMS42LTEsMy4xLTAuNGwxMTcsNDEuMWMxLjQsMC41LDIuMywxLjgsMi4zLDMuMnYxNTEuNWMtNy03LjItMTYuOC0xMS42LTI3LjYtMTEuNiAgYy0yMS40LDAtMzguOCwxNy40LTM4LjgsMzguOGMwLDIxLjQsMTcuNCwzOC44LDM4LjgsMzguOGMyMS40LDAsMzguOC0xNy40LDM4LjgtMzguOFYxNzUuMUMzNjIuMywxNjguOSwzNTguNCwxNjMuMywzNTIuNiwxNjEuM3ogICBNMTg4LjUsMzM0Yy0xNS4yLDAtMjcuNi0xMi40LTI3LjYtMjcuNmMwLTE1LjIsMTIuNC0yNy42LDI3LjYtMjcuNmMxNS4yLDAsMjcuNiwxMi40LDI3LjYsMjcuNkMyMTYuMSwzMjEuNiwyMDMuNywzMzQsMTg4LjUsMzM0eiAgIE0zMjMuNSwzODEuNGMtMTUuMiwwLTI3LjYtMTIuNC0yNy42LTI3LjZjMC0xNS4yLDEyLjQtMjcuNiwyNy42LTI3LjZjMTUuMiwwLDI3LjYsMTIuNCwyNy42LDI3LjYgIEMzNTEuMSwzNjksMzM4LjcsMzgxLjQsMzIzLjUsMzgxLjR6JyBmaWxsPScjRkZGRkZGJy8+PC9zdmc+');
    z-index: 21,
  }
}

.audio-mode-controller {
  display: flex;
  align-items: center;
  height: 50px;
  margin-right: 10px;
}

.audio-mode-switch-name {
  font-size: 14px;
  font-size: 14px;
  font-family: Roboto, Noto, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  color: $yt-text;
  font-weight: 500;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $dark-gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  left: 5px;
  bottom: 4px;
  background-color: $white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.audio-mode-switch:checked + .slider {
  background-color: $yt-red;
}

input.audio-mode-switch:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}
